In [1]:
import pandas as pd
import json
path = open(r"C:\Users\shaik.gousia\Desktop\Shaik_Kandukuru_Gousia\Cs_Files\File1.json")

In [2]:
data = json.load(path)

In [3]:
data.keys()

dict_keys(['meta', 'data'])

In [4]:
col = data['meta']['view']['columns']

In [5]:
Name = []
Description = []
Datatype = []

In [6]:
for i in col:
    Name.append(i.get('fieldName').replace(":","").strip())
    Description.append(i.get('description',"").strip())
    Datatype.append(i.get('dataTypeName'))

In [7]:
d = pd.DataFrame({'Column Names':Name,'Descriptions':Description,'Datatypes':Datatype})

In [8]:
d

,Column Names,Descriptions,Datatypes
0,sid,,meta_data
1,id,,meta_data
2,position,,meta_data
3,created_at,,meta_data
4,created_meta,,meta_data
5,updated_at,,meta_data
6,updated_meta,,meta_data
7,meta,,meta_data
8,calendar_year,Calendar Year,number
9,cal_month_num,Month,number
10,supplier,Supplier Name,text
11,item_code,Item code,text
12,item_description,Item Description,text
13,item_type,Item Type,text
14,rtl_sales,Cases of product sold from DLC dispensaries,number
15,rtl_transfers,Cases of product transferred to DLC dispensaries,number
16,whs_sales,Cases of product sold to MC licensees,number

In [9]:
with open(r"C:\Users\shaik.gousia\Desktop\Shaik_Kandukuru_Gousia\Cs_Files\File2.json",encoding="utf8") as file:
    data1 = json.load(file)

In [10]:
data1.keys()

dict_keys(['meta', 'data'])

In [11]:
col = data1['meta']['view']['columns'] 
Name = []
Description = []
Datatype = []
for i in col:
    Name.append(i.get('fieldName').replace(":","").strip())
    Description.append(i.get('description',"").strip())
    Datatype.append(i.get('dataTypeName'))
d1 = pd.DataFrame({'Column Names':Name,'Descriptions':Description,'Datatypes':Datatype})

In [12]:
d.to_csv(r"C:\Users\shaik.gousia\Desktop\Shaik_Kandukuru_Gousia\task2_a.csv")

In [13]:
d1.to_csv(r"C:\Users\shaik.gousia\Desktop\Shaik_Kandukuru_Gousia\task2_b.csv")